## 4. 판다스 data 그룹 
data 그룹형태 변형

In [7]:
import pandas as pd
from pandas import DataFrame
df_data=pd.read_csv('경찰청 강원도경찰청_음주교통사고 발생 현황_20201231.csv',encoding="euc-kr")
df=DataFrame(df_data)
df

     연도   발생  사망    부상
0  2020  620  11  1053
1  2019  493  18   797
2  2018  680  14  1165
3  2017  780  18  1338
4  2016  708  18  1266

별도의 문제 입니다.  
1. iloc함수를 이용하여 (2,2)의 크기로변경하시오
2. 연도, 발생 으로 df를 만드시오
3.