In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('day6_data1.csv')
data

      alcohol  sugar    pH  class
0         9.4    1.9  3.51    0.0
1         9.8    2.6  3.20    0.0
2         9.8    2.3  3.26    0.0
3         9.8    1.9  3.16    0.0
4         9.4    1.9  3.51    0.0
...       ...    ...   ...    ...
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

[6497 rows x 4 columns]

In [2]:
X = data[['alcohol','sugar','pH']].to_numpy()
Y = data['class'].to_numpy()

In [3]:
from sklearn.model_selection import train_test_split
t_x, tt_x, t_y, tt_y = train_test_split(X, Y, random_state = 42, test_size=0.2)

In [4]:
s_t_x, v_t_x, s_t_y, v_t_y = train_test_split(t_x, t_y, random_state = 42, test_size=0.2)

In [5]:
t_x.shape, tt_x.shape

((5197, 3), (1300, 3))

In [6]:
s_t_x.shape, v_t_x.shape

((4157, 3), (1040, 3))

In [7]:
print(f'학습data:{s_t_x.shape}\n테스트data:{v_t_x.shape}\n검증data:{tt_x.shape}')

학습data:(4157, 3)
테스트data:(1040, 3)
검증data:(1300, 3)

In [8]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(s_t_x,s_t_y)
dt.score(s_t_x,s_t_y), dt.score(v_t_x,v_t_y)

(0.9971133028626413, 0.864423076923077)

In [9]:
from sklearn.model_selection import cross_validate #cross_validate
sc = cross_validate(dt, t_x, t_y)
sc

{'fit_time': array([0.00600004, 0.00599718, 0.00699949, 0.00499916, 0.0079987 ]),
 'score_time': array([0.00100064, 0.        , 0.        , 0.00099993, 0.        ]),
 'test_score': array([0.86923077, 0.84615385, 0.87680462, 0.84889317, 0.83541867])}

In [10]:
np.mean(sc['test_score'])

0.855300214703487

In [11]:
from sklearn.model_selection import StratifiedKFold #StratifiedKFold
sc1 = cross_validate(dt, t_x, t_y, cv = StratifiedKFold()) #cross_validate의 cv 기본값이 StratifiedKFold()임을 알 수 있다.
np.mean(sc1['test_score'])

0.855300214703487

In [12]:
sc_ck = StratifiedKFold(n_splits = 10, shuffle = True, random_state = 42 ) #StratifiedKFold 하이퍼파라미터값 설정
sc2 = cross_validate(dt, t_x, t_y, cv = sc_ck)
np.mean(sc2['test_score'])

0.8574181117533719

In [13]:
from sklearn.model_selection import GridSearchCV #GridSearchCV
params = {'min_impurity_decrease':[0.0001,0.0002,0.0003,0.0004,0.0005]}

In [ ]:
gs = GridSearchCV(DecisionTreeClassifier(random_state = 42),params,n_jobs = -1)
gs.fit(t_x,t_y)

In [ ]:
dt = gs.best_estimator_
dt.score(t_x,t_y),dt.score(tt_x,tt_y)

In [ ]:
gs.best_params_

In [ ]:
gs.cv_results_['mean_test_score']