In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('day6_data2.csv')
data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [2]:
def get_info(df):#정보를 얻어내기위한 함수
    buy = df.loc[df['class_buys_computer'] == 'yes']#y값
    not_buy = df.loc[df['class_buys_computer'] == 'no']#y값
    x=np.array([len(buy)/len(df),len(not_buy)/len(df)])
    y=np.log2(x[x!=0])
    info_all=-sum(x[x!=0]*y)
    return info_all

전체 엔트로피

In [3]:
get_info(data)

0.9402859586706311

age 속성 정보 계산

In [4]:
#3가지 범주로 구성
youth = data.loc[data['age']=='youth']
middle_aged =data.loc[data['age']=='middle_aged']
senior = data.loc[data['age']=='senior']
youth

      age  income student credit_rating class_buys_computer
0   youth    high      no          fair                  no
1   youth    high      no     excellent                  no
7   youth  medium      no          fair                  no
8   youth     low     yes          fair                 yes
10  youth  medium     yes     excellent                 yes

In [5]:
get_info(youth)

0.9709505944546686

In [6]:
get_info(middle_aged)

-0.0

In [7]:
get_info(senior)

0.9709505944546686

속성 엔트로피

In [8]:
data['age'].unique()

array(['youth', 'middle_aged', 'senior'], dtype=object)

In [20]:
#속성 엔트로피는 작아야 좋다
def get_atrribute_info(df,attribute_name):
    att_v= df[attribute_name].unique()
    get_infos = []
    for i in att_v:
        split_df = df.loc[df[attribute_name]==i]
        get_infos.append((len(split_df)/len(df)) * get_info(split_df))
    return sum(get_infos)

In [10]:
get_atrribute_info(data,'age')

0.6935361388961918

게인

In [11]:
get_info(data)-get_atrribute_info(data,'age')

0.24674981977443933

In [12]:
get_info(data)-get_atrribute_info(data,'income')

0.02922256565895487

In [13]:
get_info(data)-get_atrribute_info(data,'student')

0.15183550136234159

In [14]:
get_info(data)-get_atrribute_info(data,'credit_rating')

0.04812703040826949

In [21]:
youth = data.loc[data['age']=='youth']
get_info(youth)-get_atrribute_info(youth,'income')

0.5709505944546686

In [16]:
get_info(youth)-get_atrribute_info(youth,'student')

0.9709505944546686

In [22]:
get_info(youth)-get_atrribute_info(youth,'credit_rating')

0.01997309402197489